@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-text: #def5e3;
    --color-background: #030709;
    --color-primary: #c4f7c2;
    --color-secondary: #7af67c;
    --color-accent: #3cff4c;
  
    --font-code: 'Doto', serif;
    --font-chelsea: 'Chelsea Market', cursive;
    --font-inter: 'Inter', sans-serif;
  }

  .section{
    min-height: 100vh;
    background-color: #19191c;
    color: white;
  }

  @keyframes bounceDown {
    0%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(10px);
    }
    80% {
        transform: translateY(0);
    }
  }

  .pointer {
    animation: bounceDown 3s infinite;
    cursor: pointer;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }

  .navbar.scrolled {
    backdrop-filter: blur(8px);
  }